.git
.gitignore
docker-compose.yml
docker-compose.prod.yml
.dockerignore
/docker/
!/docker/php/php.ini
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/hot
.idea/
.vscode/
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
.github/
tests/
.env.dev
.env.example
.editorconfig
.prettierrc
.prettierignore
eslint.config.js
phpunit.xml
pint.json