/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/bootstrap/ssr
/public/storage
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.docker
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
docker-compose.override.yml
